@model RestorePasswordViewModel


<div class="row card" style="margin-right:0px;">
    <form asp-action="ChangeMobile" asp-controller="Home" method="post">
        <h4 class="info-title text-white bg-success p-3">بازیابی رمز عبور</h4>
        <input type="hidden" value="@Model.returnUrl"/>
        <br />
        @*<div asp-validation-summary="All" class="text-danger"></div>*@

        <div class="p-4">
            <div id="divUserInfo" class="row">
                <div class="row col-12 col-md-6 text-center m-0 pl-0 pr-0" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                    <center>
                        <div class="mb-1 mr-0 ml-0 col-12 col-md-12 p-0 m-0">
                            <p>
                                <i class="material-icons mt-2 mb-4 mr-0 ml-0 pr-0 pl-0" style="font-size:45pt;color:#0094ff;">info_outline</i>
                                <br />
                                لطفا شماره موبایل و کدملی خود را در کادر زیر وارد کنید، و روی دکمه ثبت درخواست کلیک کنید
                            </p>
                        </div>

                    </center>
                </div>
                <div class="row col-12 col-md-6 text-center m-0">

                    <div class="mt-4 col-12 pr-0 pl-0">
                        <div style="text-align:right">
                            <label asp-for="PhoneNumber"></label>
                        </div>
                        <input id="@Model.PhoneNumber" asp-for="PhoneNumber" class="form-control" />
                        <span id="spnPhoneNumber" asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="mt-4 col-12 pr-0 pl-0">
                        <div style="text-align:right">
                            <label asp-for="NationalCode"></label>
                        </div>
                        <input id="@Model.NationalCode" asp-for="NationalCode" class="form-control" />
                        <span id="spnNationalCode" asp-validation-for="NationalCode" class="text-danger"></span>
                    </div>

                </div>

                <button id="RestorePasswordLevelOne" type="button" class="col-12 btn btn-primary mt-5">ثبت درخواست</button>
            </div>

            <div id="divSmsCode" class="row col-12 text-center m-0 pr-0 PL-0">
                <center>
                    <div class="row col-12 text-center m-0 pr-0 PL-0">
                        <i class="alert alert-danger material-icons text-center text-white col-3" style="border-bottom-left-radius:0px;border-top-left-radius:0px;">phone_android</i>
                        <br />
                        <p class="alert alert-light col-9" style="border-bottom-right-radius:0px;border-top-right-radius:0px;">
                            ما یک کد احراز هویت به موبایل شما ارسال کردیم،لطفا کد دریافت شده را در کادر زیر وارد کنید
                        </p>
                    </div>
                    <div class="mt-4 col-12 pr-0 pl-0">
                        <div style="text-align:right">
                            <label asp-for="Code"></label>
                        </div>
                        <input asp-for="Code" class="form-control" />
                        <span id="spnCode" asp-validation-for="Code" class="text-danger"></span>
                    </div>

                    <div class="mt-4 col-12 pr-0 pl-0">
                        <div style="text-align:right">
                            <label asp-for="Password"></label>
                        </div>
                        <input id="@Model.Password" asp-for="Password" class="form-control" />
                        <span id="spnPassword" asp-validation-for="Password" class="text-danger"></span>
                    </div>


                    <div class="mt-4 col-12 pr-0 pl-0">
                        <div style="text-align:right">
                            <label asp-for="ConfirmPassword"></label>
                        </div>
                        <input id="@Model.ConfirmPassword" asp-for="ConfirmPassword" class="form-control" />
                        <span id="spnConfirmPassword" asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                </center>
                <button type="button" class="col-12 btn btn-primary mt-5" id="RestorePasswordLevelTwo">تایید</button>
            </div>

            <div id="divMobileChanged" class="row p-4" style="margin-right:0px;">

                <div class="row pl-0" style="padding-left:0px">

                    <center class="col-12">
                        <p>
                            <i class="material-icons mt-2 mb-4" style="font-size:45pt;color:#0094ff;">save_alt</i>
                            <br />
                            کاربر گرامی رمز عبور شما با موفقیت تغییر یافت
                        </p>
                    </center>
                    <div class="btn btn-default text-white" style="color:white;">
                        @Html.ActionLink("بازگشت به صفحه ورود", "Login", "Account", "http", null, null, new { Model.returnUrl }, null)
                    </div>
                </div>
            </div>

            </div>
</form>

</div>
<script src="~/assets/js/restorePassword.js"></script>